:root{
  --hover-clr: #222533;
  --line-clr: #42434a;
}

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  padding: .5em 1em;
  background-color: rgb(242, 246, 246);
  position:fixed;
  right: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1.5px solid var(--line-clr);

  > div {
    display: flex;
    justify-content: center;
    align-items: center;

  > h2{
      margin: 0px 10px;
    }

  > h3{
    margin: 5px;
   }
 } 
}

.scope{
  color: rgb(7, 136, 104);
}

.logo{
  height: 2em;
}

.user-name{
  color: #1b235f;
}

.dark-mode-toggle{
  border: none;
  cursor: pointer;
  transition: 200ms ease-in;
  padding: 4px;
  border-radius: 50%;
  background-color: var(--hover-clr);
}

.dark-mode-toggle:hover{
  background-color: rgb(217, 222, 225);
}

.left-aside{
  background-color: rgb(242, 246, 246);
  position: fixed;
  height: 100%;
  margin-top: 3%;
  padding: 10px 15px;
  border-right: 1px solid var(--line-clr);

  > ul {
    list-style: none;
    margin-top: 30px;
  }
}

.left-aside a{
  text-decoration: none;
  color: #1d1d1f;
}

.left-aside ul li{
  border: none;
  margin-top: 20px;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  transition: 200ms ease-in;
}

.left-aside li:hover{
  background: #5867d5;
}

main{
  margin-left: 145px;
  padding: 10px;
  padding-right: 40px;
  flex: 1;
  min-height: 100vh;
  background-color: rgb(225, 225, 220);
}

.analyze-div{
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(minmax(auto, 1fr));
  grid-auto-flow: column;
  gap: 4%;
  box-sizing: border-box;
}

.div{
  background-color: rgb(242, 246, 246);
  border-radius: 8px;
  padding: 10px 30px;
  box-sizing: border-box;
  text-align: center;
}

.chart-div{
  margin-top: 20px;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chart-div img{
  border-radius: 15px;
  margin: 5%;
  height: 35vw;
}

.container{
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.recent-expenses h2{
  padding: 15px 0px;
}

.expense-item{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 5vw;
}

.date-div,
.category-div,
.amount-div,
.note-div{
  border: 1px solid black;
  padding:5px 2em;
}

.styleRows{
  border-bottom: 1px solid black;
  margin: 15px 0px;
}

@media(min-width:800px) {
  .chart-div img{
    height: 20vw;
  }
}

@media (min-width: 800px) {
  .expense-item{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 2vw;
}
}