*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(220, 200, 175);
}

.container{
  background-color: cadetblue;
  padding: 20px;
  border-radius: 5px;
}

.input-div{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.input{
  padding: 8px;
  border-radius: 2px;
  color: rgb(24, 24, 138);
  font-size: 14px;
  border: none;
  outline: none;
}

.input::placeholder{
  color: rgb(24, 24, 138);
  font-weight: 500;
  font-size: 16px;
}

.date{
  padding: 6px;
  border-radius: 2px;
  border: none;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

.addBtn{
  background-color: green;
  color: white;
  padding: 8px 34px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.addBtn:active,
.addBtn:hover{
  background-color: rgb(6, 107, 6);
}

.deleteBtn{
  background-color: rgb(222, 1, 1);
  color: white;
  padding: 7px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.deleteBtn:hover,
.deleteBtn:active{
  background-color: rgb(188, 3, 3);
}

.checkBox{
  height: 20px;
}

.todo-div{
  display: grid;
  grid-template-columns: 200px 170px 90px 40px;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.done{
  text-decoration: line-through;
  color: rgb(63, 62, 62);
}

.task{
  margin-right: 20px;
}

a{
  position: absolute;
  top: 25%;
  left: 50%;
}

.dashboard-redirect{
  background-color: rgb(76, 137, 138);
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 450px) {
  .input-div{
    grid-template-columns: auto;
    gap: 10px;
  }

  .date{
    font-size: 14px;
  }

  .deleteBtn{
    font-size: 12px;
  }

  .todo-div{
    grid-template-columns: 1fr auto auto auto;
  }
}